spring:
    data:
        mongodb:
            uri: mongodb://mimosa:filter@120.76.238.47:27017/?authSource=admin
            database: deep_pokemon
        jackson:
        timeZone : GMT+8
    profiles:
logging:
    config: classpath:logback.xml
server:
    tomcat:
        accesslog:
            enabled: true
            directory: /logs/access
