<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <!-- Add any additional styles or scripts if needed -->
</head>
<body>

<div style="text-align: center; margin-top: 50px;">
    <img th:src="${contextPath}+'/icon?name=null'" width="50px" height="50px">
    <h1>Error: <span th:text="${status}"></span></h1>
    <p th:text="${msg}"></p>
    <a th:href="${requestScheme + '://' + requestServerName +
     ':' + serverPort  + contextPath + '/list'}" style="text-decoration: none; color: #007bff;">Back to Home</a>
</div>

</body>
</html>
