<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>player-list</title>
    <style type="text/css">
        a:link {
            color: black;
        }

        a:visited {
            color: black;
        }
    </style>
</head>
<body>
<table  border="0" align="center"  cellspacing="50" th:marginheight="10" >
    <tr align="center">
        <td style="text-align: center;border-style: none" >
            <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/list'}" th:text="排行榜"></a>
        </td>
        <td style="text-align: center;border-style: none">
            <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'}+'team?page=1'" th:text="队伍集"></a>
        </td>
        <td style="text-align: center;border-style: none" >
            <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/stat'}" th:text="宝可梦"></a>
        </td>
    </tr>
</table>
<table border="1" align="center" cellspacing="50" width="1200">
    <tr>
        <td style="text-align: center;border-style: none">rank</td>
        <td style="text-align: center;border-style: none">player</td>
        <td style="text-align: center;border-style: none">elo</td>
        <td style="text-align: center;border-style: none">gxe</td>
        <td style="text-align: center;border-style: none">recent team</td>
    </tr>
    <tr th:each="player :  ${playerList}">
        <td style="text-align: center;border-style: none" th:text="${player.getRank()}">rank</td>
        <td style="text-align: center;border-style: none">
            <a th:text="${player.getName()}" th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'}+'record?page=1&name='+${player.getName()}"></a>
        </td>
        <td style="text-align: center;border-style: none" th:text="${player.getElo()}">elo</td>
        <td style="text-align: center;border-style: none" th:text="${player.getGxe()}">gxe</td>
        <td style="text-align: center;border-style: none" colspan="2">
            <table border="0" align="center">
                <tr>
                    <td th:each="pokemon : ${teamList.get(2*playerStat.index).getPokemons()}">
                        <img th:src="'/icon?name='+ ${pokemon.getName()}" align="centre" th:title="${pokemon.toString()}">
                    </td>
                </tr>
                <tr>
                    <td th:each="pokemon : ${teamList.get(2*playerStat.index+1).getPokemons()}">
                        <img th:src="'/icon?name='+ ${pokemon.getName()}" align="centre" th:title="${pokemon.toString()}">
                    </td>
                </tr>
            </table>
        </td>

    </tr>
</table>
</body>
</html>