<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>player-list</title>
    <style type="text/css">
        a:link {
            color: black;
        }
        a:visited {
            color: black;
        }
    </style>
</head>
<body>
<table  border="0" align="center"  cellspacing="50" th:marginheight="10" >
    <tr align="center">
        <td style="text-align: center;border-style: none" >
            <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/list'}" th:text="排行榜"></a>
        </td>
        <td style="text-align: center;border-style: none">
            <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'}+'team?page=1'" th:text="队伍集"></a>
        </td>
        <td style="text-align: center;border-style: none" >
            <a th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/stat'}" th:text="宝可梦"></a>
        </td>
    </tr>
</table>
<table border="1" align="center" cellspacing="50" width="1200">
    <tr>
        <td style="text-align: center;border-style: none" colspan="2">team</td>
        <td style="text-align: center;border-style: none">player</td>
        <td style="text-align: center;border-style: none">battle-example</td>
    </tr>
    <tr th:each="pair : ${pairList}">
        <td style="text-align: center;border-style: none" colspan="2">
            <table border="0" align="center">
                <tr>
                    <td th:each="pokemon : ${pair.getKey().getPokemons()}">
                        <img th:src="'/icon?name='+ ${pokemon.getName()}" align="centre" th:title="${pokemon.toString()}">
                    </td>
                </tr>
            </table>
        </td>
        <td style="text-align: center;border-style: none" >
            <a th:text="${pair.getKey().getPlayerName()}" th:href="${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/'}+'record?page=1&name='+${pair.getKey().getPlayerName()}"></a>
        </td>
        <td style="text-align: center;border-style: none" >
            <a th:text="${pair.getValue()}" th:href="'https://replay.pokemonshowdown.com/'+${pair.getValue()}"></a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;border-style: none" colspan="2">
            <a th:href="${#httpServletRequest.getRequestURI()}+'?page='+${page-1}" th:text="上一页"></a>
        </td>
        <td style="text-align: center;border-style: none" colspan="2">
            <a th:href="${#httpServletRequest.getRequestURI()}+'?page='+${page+1}" th:text="下一页"></a>
        </td>
    </tr>
</table>
</body>
</html>